h1 {
    margin-top: 50px;
    margin-bottom: 25px;
}

h2 {
    margin-top: 60px;
}

h3 {
    margin-top: 100px;
    margin-bottom: 10px;
}

.link {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}



@media (min-width: 800px) {
    .grid_1-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .order {
        order: -1;
        width: 85%;
        margin-top: 170px;
        gap: 20px;
    }

    .pilot {
        width: 70%;
        margin-top: 120px;
        margin-left: 50px;
    }
}

@media (max-width: 800px) {
    body {
        margin-left: 30px;
        margin-right: 30px;
    }

    .order {
        margin-top: 30px;
    }

    .pilot {
        width: 100%;
        margin-top: 30px;
    }
}
